<section class="pt-4">
  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="../assets/images/services-right-dec.png" alt="services-right">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="../assets/images/services-left-dec.png" alt="services-left">
      </div>
      <div class="row">
        <div class=" text-center">
          <div class="section-heading">
            <h2>{{'SERVICES.HEADING1'|translate}} <em>{{'SERVICES.HEADING2'|translate}} </em>{{'SERVICES.HEADING3'|translate}} <br>  <span>{{'SERVICES.HEADING4'|translate}} </span></h2>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" >
          <div class="item second-item smo-item ">
            <h4>{{'SERVICES.ITEMS.EMPLOYEE_PROFILE.TITLE'|translate}}</h4>
            <div class="icon"><i class="fa-solid fa-user-group"></i></div>
            <p>{{'SERVICES.ITEMS.EMPLOYEE_PROFILE.DESCRIPTION'|translate}}</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="item first-item smo-item ">
              <h4>{{'SERVICES.ITEMS.TIME_ATTENDANCE.TITLE'|translate}}</h4>
              <div class="icon"><i class="fa-regular fa-clock"></i></div>
              <p>{{'SERVICES.ITEMS.TIME_ATTENDANCE.DESCRIPTION'|translate}}</p>
          </div>
        </div>
       
        <div class="col-md-6  col-lg-4">
          <div class="item third-item smo-item">
            <h4>{{'SERVICES.ITEMS.REPORTS.TITLE'|translate}}</h4>
            <div class="icon"><i class="fa-regular fa-newspaper"></i></div>
            <p>{{'SERVICES.ITEMS.REPORTS.DESCRIPTION'|translate}}</p>
          </div>
        </div>
        <div class="col-md-6  col-lg-4">
          <div class="item first-item smo-item">
            <h4>{{'SERVICES.ITEMS.LEAVE_OF_ABSENCE.TITLE'|translate}}</h4>
            <div class="icon"><i class="fa-solid fa-recycle"></i></div>
            <p>{{'SERVICES.ITEMS.LEAVE_OF_ABSENCE.DESCRIPTION'|translate}}</p>
          </div>
        </div>
        <div class="col-md-6  col-lg-4">
          <div class="item second-item smo-item">
            <h4>{{'SERVICES.ITEMS.PAYROLL.TITLE'|translate}} </h4>
            <div class="icon"><i class="fa-regular fa-money-bill-1"></i></div>
            <p>{{'SERVICES.ITEMS.PAYROLL.DESCRIPTION'|translate}}</p>
          </div>
        </div>
        
        <div class="col-md-6  col-lg-4">
          <div class="item second-item smo-item">
            <h4>{{'SERVICES.ITEMS.SHIFT.TITLE'|translate}}  </h4>
            <div class="icon"><i class="fa-brands fa-stack-exchange"></i></div>
            <p>{{'SERVICES.ITEMS.SHIFT.DESCRIPTION'|translate}}</p>
          </div>
        </div>
        <div class="col-md-6  col-lg-4">
          <div class="item second-item smo-item">
            <h4>{{'SERVICES.ITEMS.ANNOUNCEMENTS.TITLE'|translate}}  </h4>
            <div class="icon"><i class="fa-solid fa-scroll"></i></div>
            <p>{{'SERVICES.ITEMS.ANNOUNCEMENTS.DESCRIPTION'|translate}} </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="item second-item smo-item">
            <h4>{{'SERVICES.ITEMS.TIMESHEET.TITLE'|translate}}</h4>
            <div class="icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
            <p>{{'SERVICES.ITEMS.TIMESHEET.DESCRIPTION'|translate}} </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="item second-item smo-item">
            <h4>{{'SERVICES.ITEMS.EMPLOYEE_SELF_SERVICE.TITLE'|translate}}</h4>
            <div class="icon"><i class="fa-solid fa-mobile-screen-button"></i></div>
            <p class="">{{'SERVICES.ITEMS.EMPLOYEE_SELF_SERVICE.DESCRIPTION'|translate}}</p>
          </div>
        </div>
      
      </div>
    </div>

  </div> 

</section>