
    <div class="footer-dec">
        <img src="../../../assets/images/footer-dec.png" alt="footer-dec">
      </div>

      <footer>
        <div class="container ">
          <div class="row">
            <div class="col-lg-6 ">
              <div class="about footer-item d-flex ">
               <div>
                <div class="logo">
                  <a href="#"><img src="../../../assets/images/Asset 22 (3).png" alt="LinkedHR"></a>
                </div>
                <a href="mailto:{{ 'FOOTER.EMAIL' | translate }}">{{ 'FOOTER.EMAIL' | translate }}</a>
                <ul>
                  <li><a target="_blank" href="https://www.facebook.com/hrklix"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/company/hrklix/"><i class="fa-brands fa-linkedin"></i></a></li>
                  <li><a target="_blank"  href="https://www.instagram.com/hrklix?igsh=N2RuYjJsNWVvdWc3&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
               </div>
               <div class="display-center">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.asia.linked_hr&hl=en_US&gl=US"><img src="https://d2is554mdy16bu.cloudfront.net/assets/store-links/google-play-badge-b970ebd6740e54d208f143b84a2749143b011fac98f543141e3eadfad041483a.png">
                </a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.asia.linked_hr&hl=en_US&gl=US"><img class="app-download" src="https://d2is554mdy16bu.cloudfront.net/assets/store-links/app-store-badge-eeb669f88fa1d1fb50696602c947ee4df08fb4fb94643ca5c2fe1dbc41311842.png">
                </a>
              </div>
              </div>
            </div>
      
            <div class="col-lg-3">
              <div class="community footer-item">
                <h4>{{ 'FOOTER.USEFULlINKS.TITLE' | translate }}</h4>
                <ul>
                  <li><a [routerLink]="['/terms']" >{{ 'FOOTER.USEFULlINKS.terms' | translate }}</a></li>
                  <li><a [routerLink]="['/privacy']">{{ 'FOOTER.USEFULlINKS.privacy' | translate }}</a></li>
       
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="subscribe-newsletters footer-item">
                <h4>{{ 'FOOTER.SUBSCRIBE.TITLE' | translate }}</h4>
                <p>{{ 'FOOTER.SUBSCRIBE.TEXT' | translate }}</p>
                <form #subscribeForm="ngForm" (ngSubmit)="onSubmit(subscribeForm)">
                  <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                         [(ngModel)]="email"
                         [placeholder]="'FOOTER.SUBSCRIBE.EMAIL_PLACEHOLDER' | translate"
                         required>
                  
                  <button type="submit" id="form-submit" class="main-button">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="copyright">
                <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
                <br>
                <!-- Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      


      <p-toast />