h1, h2 {
    color: #333;
    font-size: 24px;
}
h1 {
    text-align: center;
}
p {
    color: #555;
    margin-bottom: 20px;
}
ul {
    margin-bottom: 20px;
    margin-left: 20px;
}

.privacy{
    padding: 20px;

}