<section>
    <div id="about" class="about-us section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-image">
                <img src="../assets/images/about-left-image (1).png" alt="Two Girls working together">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="section-heading">
                <h2>{{'ABOUT_US.HEADING1'|translate}}    <em> {{'ABOUT_US.HEADING2'|translate}}  </em>{{'ABOUT_US.HEADING3'|translate}} <span> {{'ABOUT_US.HEADING4'|translate}} </span> </h2>
                <p>{{'ABOUT_US.DESCRIPTION'|translate}} </p>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="fact-item">
                      <div class="count-area-content">
                        <!-- <div class="icon">
                          <img src="../assets/images/service-icon-01.png" alt="">
                        </div> -->
                        <div class="count-digit pb-3">{{'ABOUT_US.FACTS.EMPLOYEES.DIGIT'|translate}}</div>
                        <div class="count-title">{{'ABOUT_US.FACTS.EMPLOYEES.TITLE'|translate}}</div>
                        <p>{{'ABOUT_US.FACTS.EMPLOYEES.DESCRIPTION'|translate}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="fact-item">
                      <div class="count-area-content">
                        <!-- <div class="icon">
                          <img src="../assets/images/service-icon-02.png" alt="">
                        </div> -->
                        <div class="count-digit">{{'ABOUT_US.FACTS.DAILY_REQUESTS.DIGIT'|translate}}</div>
                        <div class="count-title py-2">{{'ABOUT_US.FACTS.DAILY_REQUESTS.TITLE'|translate}}</div>
                        <p>{{'ABOUT_US.FACTS.DAILY_REQUESTS.DESCRIPTION'|translate}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="fact-item">
                      <div class="count-area-content">
                        <!-- <div class="icon">
                          <img src="../assets/images/service-icon-03.png" alt="">
                        </div> -->
                        <div class="count-digit">{{'ABOUT_US.FACTS.TRANSACTIONS.DIGIT'|translate}}</div>
                        <div class="count-title py-2">{{'ABOUT_US.FACTS.TRANSACTIONS.TITLE'|translate}}</div>
                        <p>{{'ABOUT_US.FACTS.TRANSACTIONS.DESCRIPTION'|translate}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>