
    


<section id="OurSoftware">

    <app-why-hrklix></app-why-hrklix>
</section>

    <section id="Service">
    <app-service></app-service>
</section>
    <section id="WhyHrklix">
        
    <app-our-software></app-our-software>
</section>
    <app-mobil-app></app-mobil-app>

    <app-actions></app-actions>

    <app-clients></app-clients>

    <app-companies></app-companies>
    <!-- <app-pricing></app-pricing> -->

    <section id="Contact_Us">
    <app-contact-us></app-contact-us>    
    </section>
