
  <div class="container bw-logos customers-section text-center mt-5">
    <div class="display-center customers-title-block">
      <h2 class="text-center customers-title ">
        {{ 'CUSTOMERS_SECTION.TITLE' | translate }}      </h2>
      <p class="py-4">{{ 'CUSTOMERS_SECTION.DESCRIPTION' | translate }} </p>
    </div>
    <div class="row company-grid">
      <div *ngFor="let company of companies " class=" col-lg-3 col-md-4 col-6 mb-3 company-item">
        <a [href]="company.url" target="_blank">
          <img [src]="company.image" [alt]="company.alt" class="company-logo">
        </a>
      </div>
    </div>
    
    </div>
  

