
 <div id="video" class="our-videos section">
  <p class="text-center v">{{ 'HRKLIX_IN_ACTION' | translate }}</p>
  <div class="videos-left-dec">
    <img src="assets/images/videos-left-dec.png" alt="videos-left">
  </div>
  <div class="videos-right-dec">
    <img src="assets/images/videos-right-dec.png" alt="videos-right">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="naccs">
          <div class="">
            <div class="row">
              <div class="col-lg-8">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/JynGuQx4a1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Project One</h4></a>
                          <span> Employee Profile Management</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/RdJBSFpcO4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Second Project</h4></a>
                          <span>  Time Attendance Tracking</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ZlfAjbQiL78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Project Three</h4></a>
                          <span>Payroll Automation</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/mx1WseE7-0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Fourth Project</h4></a>
                          <span> Leave of Absence Management</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/mx1WseE7-0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Five Project</h4></a>
                          <span>Reports and Analytics</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/mx1WseE7-0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Six Project</h4></a>
                          <span> Shift Management</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/mx1WseE7-0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="overlay-effect">
                          <a href="#"><h4>Seven Project</h4></a>
                          <span> Announcements</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                
              </div>
              <div class="col-lg-4">
                <div class="menu">
                  <div class="active">
                    <div class="thumb">
                      <img src="assets/images/video-thumb-01.png" alt="video-thumb-01">
                      <div class="inner-content">
                        <h4>Project One</h4>
                        <span>Employee Profile Management</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="thumb">
                      <img src="assets/images/video-thumb-02.png" alt="video-thumb-02">
                      <div class="inner-content">
                        <h4>Second Project</h4>
                        <span>Time Attendance Tracking</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="thumb">
                      <img src="assets/images/video-thumb-03.png" alt="video-thumb-03">
                      <div class="inner-content">
                        <h4>Project Three</h4>
                        <span>Payroll Automation</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="thumb">
                      <img src="assets/images/video-thumb-04.png" alt="video-thumb-04">
                      <div class="inner-content">
                        <h4>Fourth Project</h4>
                        <span> Leave of Absence Management</span>
                      </div>
                    </div>
                  </div>
                 
                  
                </div>
              </div>   
                        
            </div>
            <div class="row">
              <div class="col-lg-4 menu">
                <div class="active">
                  <div class="thumb">
                    <img src="assets/images/video-thumb-01.png" alt="video-thumb-01">
                    <div class="inner-content">
                      <h4>Five Project</h4>
                      <span> Reports and Analytics</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 menu">
                <div class="active">
                  <div class="thumb">
                    <img src="assets/images/video-thumb-01.png" alt="video-thumb-01">
                    <div class="inner-content">
                      <h4> Six Project </h4>
                      <span>Shift Management</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 menu">
                <div class="active">
                  <div class="thumb">
                    <img src="assets/images/video-thumb-01.png" alt="video-thumb-01">
                    <div class="inner-content">
                      <h4>Seven Project </h4>
                      <span>Announcements</span>
                    </div>
                  </div>
                </div>
              </div>
              

            </div>            
            </div>
        </div>
       
      </div>
      
    </div>
   
  </div>
</div> 



